@page "/"
@inject NavigationManager NavManager
@inject AppState appState 
<div class=" container-sm container-fluid">

    <div class="section" style="padding-top:100px">
        <UrlLink OnValidLink="Linkadded"></UrlLink>
    </div>

</div>

@code
{
    public void Linkadded(string newLink)
    {
        Console.WriteLine($"Link added-{newLink}");
        // Add a state service
        appState.AddUrl(new Models.CustomUrl { Url = newLink, Description = "test", Title = "test" });
        NavManager.NavigateTo("/edit");
    }
}