@page "/"
@inject NavigationManager NavManager
@inject AppState appState 
@inject UrlService urlService
<div class=" container-sm container-fluid">

    <div class="section" style="padding-top:100px">
        <UrlLink OnValidLink="Linkadded"></UrlLink>
    </div>

</div>

@code
{
    public async Task Linkadded(string newLink)
    {
       
        // Add a state service
        var metaData =await urlService.GetUrlMetaData(newLink);
        appState.AddUrl(new Models.CustomUrl { Url = newLink, Description = metaData?.Description, Title = metaData?.Title , Image= metaData?.Image });
        Console.WriteLine($"Link added-{newLink}");
        NavManager.NavigateTo("/edit");
    }
}