@page  "/edit"
@inject AppState appState
<h3>ManageList</h3>
<div class="container">
    <div class="row">
        <div class="col-sm">
            <input type="text" />
        </div>
        <div class="col-sm">
            <input type="text" />
        </div>
        <div class="col-sm">
            <button>Publish</button>
        </div>
    </div>
</div>
<div>
    <div class="section">
        <UrlLink OnValidLink="Linkadded"></UrlLink>
    </div>

</div>
<UrlEditor Urls="appState.CurrentList.Urls" />
@code {
    public void Linkadded(string newLink)
    {
        Console.WriteLine($"Link added-{newLink}");
        // Add a state service
        appState.AddUrl(new Models.CustomUrl { Url = newLink, Description = "test", Title = "test" });
    }
}
