@page  "/edit"
@inject AppState appState

<div class="container" style="padding-top:100px">
    <div class="row">
        <div class="col-sm">
            <div class="form-floating mb-3">
                <input type="text" class="form-control" id="lnkTitle" placeholder="">
                <label for="lnkTitle">Link Title</label>
            </div>
        </div>
        <div class="col-sm">
            <div class="form-floating mb-3">
                <input type="text" class="form-control" id="lnkDescription" placeholder="">
                <label for="lnkDescription">Description</label>
            </div>
        </div>
        <div class="col-sm">
            <div class="d-grid gap-2 mx-auto">
                <button class="btn btn-lg btn-primary">Publish</button>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <UrlLink OnValidLink="Linkadded"></UrlLink>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <UrlEditor Urls="appState.CurrentList.Urls" />
        </div>
    </div>
</div>


@code {
    public void Linkadded(string newLink)
    {
        Console.WriteLine($"Link added-{newLink}");
        // Add a state service
        appState.AddUrl(new Models.CustomUrl { Url = newLink, Description = "test", Title = "test" });
    }
}
