@inherits LayoutComponentBase
<nav class="navbar  navbar-expand-sm navbar-dark bg-dark">
<!--logo and link first--> 
  <a class="navbar-brand" href="#">
    <img  width="30" height="30" class="d-inline-block align-top"  src="/images/logo-url.svg" alt=""> Blazor URL List</a>
 
   <HeaderNav></HeaderNav>

</nav>
 